/*Styles for labels*/

.label {
    -fx-font-size: 14px;
    -fx-font-family: Arial, sans-serif;
    -fx-text-fill: #ecf0f1;
    -fx-label-padding: 5px;
    -fx-background-color: transparent;
}

.label-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FF6347;
}

.label-subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #1E90FF;
}

.text-style {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-fill: #ff6347;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
