/*Styles for tooltips*/

.tooltip-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-radius: 50%;
    -fx-padding: 5;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.tooltip {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-effect: none;
    -fx-border-width: 0;
}

.tooltip .tooltip-content {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}
